*{
    margin: 0px;
    padding: 0px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 227, 227);
    padding: 10px;
}

.logo{
    width: 80px;
}

li{
    list-style: none;
    font-size: 20px;
}

li:hover{
    color: blue;
    cursor: pointer;
}

.menu-container{
    display: flex;
    gap: 15px;
}

.banner-image{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: rgb(70, 141, 135);
    color: white;
}

.banner-left{
    width: 400px;
    line-height: 2;
}

/* .banner-right{
    width: 50%;
    margin: auto;
} */

.btn{
    padding: 15px 30px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.hire-btn{
    background-color: rgb(75, 47, 100);
}
.marry-btn{
    background-color: rgb(6, 90, 90);
}

.title{
    font-size: 50px;
    color: yellow;
}

.service-container{
    padding-bottom: 20px;
    margin-top: 30px;
}
.service-title{

    font-size: 60px;
    text-align: center;
}

.service-card {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 6px; 
    text-align: center;
    margin-top: 50px;
}


.killing-img{
    /* margin-top: 10px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 60%;
}

.service-card-btn{
    padding: 15px 35px;
    background-color: rgb(10, 77, 10);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.service-desc{
    margin: 10px;
}
.services{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.contact-us{
    padding: 50px;
    box-shadow: 4px 4px 8px gray;
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-box{
    padding: 15px;
    width: 50%;
    margin-top: 10px;
}
.message{
    width: 40%;
    height: 100px;
    margin-top: 15px;
}
.submit-btn{
    width: 25%;
    padding: 15px 35px;
    background-color: rgb(10, 77, 10);
    color: white;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.cont{
    color: black;
}

.footer-sec{
    margin-top: 50px;
    height: 15vh;
    border: 1px solid black;
    background-color: rgba(34, 31, 31, 0.972);
    text-align: center;
}

.footer-text{
    padding-top: 85px;
    color: white;
}
.footer-text-next{
    color: rgb(32, 210, 115);
}